#container {
    display: flex;
    flex-direction: column;
}

#container > div {
    display: flex;
}

div div div {
    background-color: lightgray;
    /* border: solid white 2px; */
}

.activate {
    background-color: blueviolet;
}